/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.h1__special{
  font-size: 40px;
}

.container {
  /* width: 80%; */
  /* max-width: 800px; */
  margin: 0 auto;
  background: #23424a;
  color: white;
  padding: 50px;
}

.subtitle{
  font-size: 18px;
  font-weight: 50;
}

.intro-content {
  width: 60%;
  max-width: 1250px;

}

.content{
  padding: 0px 50px;
  /* max-width: 800px; */
}

.btn {
  display: inline-block;
  padding: .8em;
  margin: 2em 0;
  background-color: #38cfd9;
  color: rgb(17, 7, 7);
  font-weight: bold;
  border-radius: 2em;
  width: 50%;
  text-align: center;
  min-width: 189.5px;
  max-width: 200px;
  text-decoration: none;
}

@media only screen and (max-width: 498px) {
  .intro-content {
    width: 100%;  
  } 
  .btn {
    width: 100%;
    max-width:none;
    min-width: none;
  }
}